# fly.toml app configuration file generated for ninoes on 2025-02-09T11:12:55Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = 'ninoes'
primary_region = 'lhr'

[build]
[build.args]
VITE_SUPABASE_URL="https://niuinrpiaigbksezupjo.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5pdWlucnBpYWlnYmtzZXp1cGpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzkwOTg5NDQsImV4cCI6MjA1NDY3NDk0NH0.eMctLT4an_jJ4eCr2Mt0aWeJfcKOqN_rqjFzfq-QWRk"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = 'stop'
auto_start_machines = true
min_machines_running = 1
processes = ['app']

[[vm]]
memory = '512mb'
cpu_kind = 'shared'
cpus = 1
